
*{
    font-family: 'Acme', sans-serif;
}

body {
    background-color:#D1FFF9;
    margin: 20 0 0 0 auto;
    padding: 0 auto;
    color: seashell;
}

header {
    background: url("../images/header-section.jpg") 100% fixed;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;
}

h1.titre {
    font-size: 70px;
    text-transform: uppercase;
}

h3.slogan {
    font-size: 30px;
    font-style: italic;
}


/* destinations */

section#destinations {
    margin: 0px 20% 0 20%;
}


section#destinations h3 {
    padding-top: 50px;
    opacity: 0.5;
    color: black;
}

div.destination-item {
    color: slategrey;
    width: 200px;
    height: 300px;
    margin: 10px;
    position: relative;
    flex: 1 0 29%;
    background-repeat: no-repeat;
    background-size: 100%;
}

div.destination-item:hover {
    transform: scale(0.98);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s all;
}

div.destinations-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.barcelone { background: url(../images/barcelone.jpg);}
.dubai { background: url(../images/dubai.jpg);}
.londres { background: url(../images/londres.jpg);}
.paris { background: url(../images/paris.jpg);}
.philippines{ background: url(../images/philippines.jpg);}
.tunis { background: url(../images/tunis.jpg);}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

span.nom {
    position: relative;
    color: #373737;
    background-color: #D1FFF9;
    top: 20px;
    float: right;
    padding: 12px;
    font-size: 22px;
}

span.prix {
    position: relative;
    color :snow;
    background-color: #FF870D;
    padding: 12px;
    font-size: 25px;
    top: 220px;
}

/* formulaire de recherche */

header form {
    background-color: #FF870D;
    padding: 20px;
}

.search-form {
    margin-bottom: -50px;
}

.form-group input, select , option {
    border: none;
    padding: 5px;
    background-color:#FEF6C9;
}


.form-group {
    color:rgb(255, 246, 246);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.form-group label {
    margin: 5px;
    padding: 10px;
}

.button-submit {
    text-align: center;
}

.button-submit input {
    background-color: rgb(115, 130, 168);
    border: none;
    color: honeydew;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}

footer p {
    text-align: center;
    color: #373737;
    padding: 10px;
}